body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    color: #333;
}

header {
    background-color: #ff6f61;
    color: white;
    padding: 1rem;
    text-align: center;
    transition: background-color 0.3s ease;
}

header:hover {
    background-color: #ff3b2f;
}

main {
    padding: 2rem;
}

h1, h2 {
    margin: 0;
    padding-bottom: 1rem;
    color: #efebea;
}

.gallery, .video-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.gallery img {
    width: 150px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.gallery img:hover {
    transform: scale(1.1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

.video-gallery video {
    width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.video-gallery video:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
}

#message {
    margin-top: 2rem;
    text-align: center;
}

button {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    color: white;
    background-color: #ff6f61;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

button:hover {
    background-color: #ff3b2f;
    transform: scale(1.05);
}

p#friend-message {
    margin: 1rem 0;
    font-size: 1.2rem;
    color: #ff6f61;
    transition: color 0.3s ease;
}

p#friend-message.show-message {
    color: #333;
}

.container {
    text-align: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
p {
    font-size: 2em;
    margin-bottom: 20px;
}
.button-container {
    margin: 20px 0;
}

button {
    font-size: 1em;
    padding: 10px 20px;
    margin: 0 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    opacity: 0.8;
}

#yes-button {
    background-color: #4CAF50; /* Green */
    color: white;
}

#no-button {
    background-color: #f44336; /* Red */
    color: white;
}
